<div class="container">
    <%@every_post.each do |p|%>
    <div class="container">
        
    <hr>
    제목 : <%=p.title%><Br>
    내용 : <%=p.content%><br>
    <hr>
    
    <%p.replies.each do |r|%>
    <p><%=r.comment %></p>
    <%end%>
    
      <div class="form-group">
        <label>댓글</label>
        <input type="hidden" name="post_id" class="form-control" value="<%=p.id%>" id="post_id_<%=p.id%>">
        <input type="text"  name="comment" class="form-control" id="comment_<%=p.id%>" placeholder="댓글">
      </div>
      <button type="submit" class="btn btn-default reply_submit" value="<%=p.id%>">Submit</button> <!—스크립트에 클릭되었을때—>

    <hr>
    </div>
    <%end%>
    
    
    
</div>

<a href="/home/index">홈으로</a>

<script>
    
    $( ".reply_submit" ).click(function() {
      post_id = this.value
      $.ajax({
      method: "POST",
      url: "/home/reply_ok",
      data: { post_id: this.value , comment: $("#comment_"+post_id).val() },
      error : function(error) {alert("에러러!");},
      success : function(data) {alert("댓글이달림");}
      });
      
         
    });
  
</script>